body .mock-notice {
    background-color: #cab600; /* Bright yellow for visibility */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Ensure some space between the notice and the nav */
}

/* Ensure that Pico CSS doesn't override our text color */
body .mock-notice p {
    color: black; /* or any color that suits the design */
}
.current-tag {
    background-color: #cddc39; /* Light green color */
    color: black;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
}
.password-reveal {
    color: #d32f2f; /* or any vibrant color for visibility */
    font-size: 1.1em;
    margin: 10px 0;
}
